/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body background */
body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8; /* Adjust opacity as needed */
}

::placeholder{
    color: #fff;
}

/* Form container */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    border-radius: 10px;
    color: #fff;
}

/* Form input styles */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button{
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styling for labels, radio buttons, etc. */
/* Customize as per your design preferences */
